{% extends 'auctionLay.html' %}

{% block Tokdil %}

<div class="tok-shop">{{tokdil.name}}</div>
<div class="tok-shop">등록자: {{tokdil.Owner.nick}}</div>
<div class="tok-shop">톡딜 금액: {{tokdil.price}}원
  <strong  id="time" data-start="{{tokdil.createdAt}}"></strong>
</div>
<div style="background-color: seashell; text-align: center; padding-top: 4%; height: 180px;">
  <img src="/img/{{tokdil.img}}">
</div>
{% endblock %}

{% block content %}
  <div class="timeline">
    <div id="bid">
      {% for bid in Auction %}
        <div>
          <span>{{bid.User.nick}}님: </span>
          <strong>{{bid.bid}}</strong>
          {% if bid.msg %}
            <span>({{bid.msg}})</span>
          {% endif %}
        </div>
      {% endfor %}
    </div>
    <form id="bid-form">
      <input style="display: none;" type="name" name="name" placeholder="이름" value="{{tokdil.name}}">
      <input style="display: none;" type="number" name="bid" placeholder="가격" value="{{tokdil.price}}">
      <input style="display: none;" type="msg" name="msg" placeholder="메시지(선택사항)" value="톡딜 참여 완료">
      <button class="tok-shop" class="btn" type="submit">톡딜 참여!</button>
    </form>
  </div>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="https://unpkg.com/event-source-polyfill/src/eventsource.min.js"></script>
  <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.min.js" ></script>
  <script type="text/javascript" src="https://cdn.iamport.kr/js/iamport.payment-1.1.5.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script>
          document.querySelector('#bid-form').addEventListener('submit', (e) => {
      e.preventDefault();
      const errorMessage = document.querySelector('.error-message');
      axios.post('/Tokdil/{{tokdil.id}}/bid', { // 입찰 진행
        bid: e.target.bid.value,
        msg: e.target.msg.value,
      })
        .catch((err) => {
          console.error(err);
          alert(err.response.data);
        })
        .finally(() => {
          e.target.bid.value = '';
          e.target.msg.value = '';
          errorMessage.textContent = '';
        });
        
        $(function(){
        var IMP = window.IMP;
        IMP.init('imp37027306');
        var msg;
        
        IMP.request_pay({
            pg : 'kakaopay',
            pay_method : 'card',
            merchant_uid : 'merchant_' + new Date().getTime(),
            name : e.target.name.value,
            amount : e.target.bid.value,
            buyer_email : '<%=email%>',
            buyer_name : '<%=name%>',
            buyer_tel : '<%=phone%>',
            buyer_addr : '<%=address%>',
            buyer_postcode : '123-456',
        }, function(rsp) {
            if ( rsp.success ) {
                jQuery.ajax({
                    url: "/payments/complete",
                    type: 'POST',
                    dataType: 'json',
                    data: {
                        imp_uid : rsp.imp_uid
                    }
                }).done(function(data) {
                    if ( everythings_fine ) {
                        msg = '결제가 완료되었습니다.';
                        msg += '\n고유ID : ' + rsp.imp_uid;
                        msg += '\n상점 거래ID : ' + rsp.merchant_uid;
                        msg += '\결제 금액 : ' + rsp.paid_amount;
                        msg += '카드 승인번호 : ' + rsp.apply_num;
                        
                        alert(msg);
                    } else {
                        msg = e.target.msg.value + '의 아직 제대로 결제가 되지 않았습니다.';
                        msg += '결제된 금액이 요청한 금액과 달라 결제를 자동취소처리하였습니다.';      
                        alert(msg);
                    }
                });
                location.href='/';
            } else {
                msg = e.target.msg.value +'의 결제에 실패하였습니다.';
                msg += '에러내용 : ' + rsp.error_msg;
                location.href="/";
                alert(msg);
            }
        });
        
    });
      });
    const es = new EventSource("/sse");
    const time = document.querySelector('#time');
    es.onmessage = (e) => {
      const end = new Date(time.dataset.start); 
      const server = new Date(parseInt(e.data, 10));
      end.setDate(end.getDate() + 1); 
      if (server >= end) { 
        return time.textContent = '00:00:00';
      } else {
        const t = end - server;
        const seconds = ('0' + Math.floor((t / 1000) % 60)).slice(-2);
        const minutes = ('0' + Math.floor((t / 1000 / 60) % 60)).slice(-2);
        const hours = ('0' + Math.floor((t / (1000 * 60 * 60)) % 24)).slice(-2);
        return time.textContent = hours + ':' + minutes + ':' + seconds;
      }
    };
    const socket = io.connect('http://localhost:8001', {
      path: '/socket.io'
    });
    socket.on('bid', (data) => {
      const div = document.createElement('div');
      let span = document.createElement('span');
      span.textContent = data.nick + '님: ';
      const strong = document.createElement('strong');
      strong.textContent = data.bid + '톡딜 성공하셨습니다.';
      div.appendChild(span);
      div.appendChild(strong);
      if (data.msg) {
        span = document.createElement('span');
        span.textContent = `(${data.msg})`;
        div.appendChild(span);
      }
      document.querySelector('#bid').appendChild(div);
    });
  </script>
    <script>
        window.onload = () => {
          if (new URL(location.href).searchParams.get('auctionError')) {
            alert(new URL(location.href).searchParams.get('auctionError'));
          }
        };
      </script>
    {% endblock %}